<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student</title>
</head>
<body>
    <form action="/create_user" method="post" >
        name:<input type="text" name="name" placeholder="enter your name.."><br><br>
        password :<input type="password" name="password" placeholder="enter password"><br><br>
        <input type="submit" value="Submit">
        <a href="/log" >login</a>

    </form>
</body>
</html>